
        
        body{
            background-color: bisque;
            text-align: center;
            justify-content: center;
        }
        .btn{
            background-color: red;
            color: white;
            cursor: pointer;
            padding: 2px 9px;
            border-radius: 9px;
            border-style: none;
            border: 1px solid black;
        }
        div{
            margin: 14vh 0;
        }
        pre{
            margin: 12px 0px;
            width: 12px;
            /* border: 2px solid red; */
            position: relative;
            left: 43%;
        }
    
